header {
    background-color: hsl(208.8deg 67.57% 7.25%);
    max-height: 70px;
 }
 main {
      height: calc(100vh - 67.5px);
   
 }
 
 .logo{
     max-width: 90px;
 }
 .title{
     color: white;
 }
 body {
     background-color: hsl(209.03deg 34.83% 17.45%);
 }
 .card {
     width: calc(95% / 3);
     background-color: hsl(210.97deg 47.69% 12.75%);
     color: white;
     padding: 2rem;
     max-height: 400px;
     text-align: center;
 }
 .card-img-top{
     width: 180px;
     text-align: center;
     margin-left: 25px;
     margin-bottom: 10px;
 }
 
 @media screen and (min-width: 1199px) {
 .card {
     width: calc(77% / 3);
 }
 .card-img-top{
     margin-left: 40px;
     
 }
 
 
 }